---
---

@import url('https://fonts.googleapis.com/css?family=Rubik:400');
@import url('https://fonts.googleapis.com/css?family=Open_Sans:400,300,600,700,300italic,400italic,600italic,700italic');


@import "../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";
@import "print";

/***********************************************************
Typography
***********************************************************/
h1, h2, h3, h4, h5, h6{
	color: #4d4d4d;
	font-family: 'Rubik',sans-serif;
}

.article-body{
	h1, h2, h3, h4, h5, h6{	
		margin-top: 2rem;
	}
}

body{
	color: #212121;
	font-family: 'Rubik',sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

p, td, .caption, li {
  font-size: 18px;
  color: #404040;
  line-height: 150%;
  font-weight: 400;
}


.quote{
	font-style: italic;
}

.tags{
	span{
		background-color: #f6f6f6;
		margin-right: 3px;
		color: #6a6a6a;
		border-radius: 3px;
		margin-top: 8px;
		display: inline-block;
		padding: 0 8px;
		font-weight: 600;
		font-size: 14px;
	}
}

.skill{
	font-weight: 600;
}

.bullet-lead{
	font-weight: 600;
	text-style: italic;
}


//Logo
.navbar-brand img{
	height: 30px;
}

.navbar-nav{
	flex-direction: row;
	li.nav-item{
		padding-right: 10px;
	}
}

/***********************************************************
Layout
***********************************************************/
.container-lg {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.container-md {
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
	padding: 20px;
}


@include media-breakpoint-up(md) {
	.container-lg{
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
	}

	.container-md{
  	padding-top: 40px;
  	padding-bottom: 40px;
	}
}

.col-sm-4,
.col-sm-8{
	img{
		width: 100%;
	}
}

.spaced-icons .col{
	padding: 20px 20px 50px;
}


.article-feature{
    margin: 40px -60px;
}

.page-content{
	min-height: 100vh;
	background: #fcfcfc;
	
	@include media-breakpoint-up(lg) {
		padding-top: 20px;
	}
}

hr.article-fin{
	margin-top: 6rem;
	border-width: 2px;
}

.change-illustration{
	text-align: center;

	img{
			max-width:450px;
			margin: auto;
			padding: 20px 0 40px;
		}
}


/***********************************************************
Nav
***********************************************************/

.navbar{
	background-color:  white;
	border-bottom: 2px solid rgba(0,0,0,0.07);
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 1px 1px 5px 0 rgba(234, 234, 234, 0.2);
}


//Article
.article{
	

	header{
		h1{
			margin: 0;
		}
		span{
			font-size: 24px;
			color: #838383;
			font-style: italic;
		}
	}

	p img{
		width: 100%;
	}

	.role-list{
		padding-left: 0;
		list-style: none;
	}


	.PageNavigation{

		margin: 60px 0;


		svg{
			font-size: 2em;
			margin-bottom: 10px;
		}

		.next img,
		.prev img{
			height: 100px;
			width: auto;
			@include border-radius(4px);
		}

		.next{
			float: left;
		}

		.prev{
			float: right;
			text-align: right;
		}

		a h3{
			text-decoration: none;
		}
	}

	h2{
		margin: 60px 0 10px;
	}

	.article-title-img {
	    height: 280px;
	}

    img{
    	width: 100%;
	}

	.personas{
		td{
			padding-right: 30px;
		}
		p.quote-bubble{
			border: 2px solid #f0f0f0;
		    padding: 10px;
		    border-radius: 11px;
		    line-height: 130%;
		    text-align: center;
		    font-size: 16px;
		    color: #7d7d7d;
		    background: white;
		}
	}

	.personas-lg{
		h4{
			font-weight: bold;
			margin-top: 3rem;
			border-bottom: 2px solid #d3d3d3;
			padding-bottom: 6px;
			margin-bottom: 0;

			span{
				font-weight: 300;
			}
		}
		.row{
			padding-top: 1.3rem;
			background: #f5f5f5;
		}
	}
}



/***********************************************************
Home
***********************************************************/
.home {

	h1{
		font-size: 1.5em;
		line-height: 1.5em;
	}

	@include media-breakpoint-up(md) {
		h1{
			font-size: 1.8em;
		}
	}
	.post{
		margin-bottom: 40px;
	}

	.post-link{ 
		img {
			margin-bottom: 10px;

			@include border-radius(3px);
			@include transition(.2s);

			&:hover{
				opacity: .7;
			}
		}
		h3{
			margin-bottom: 0;
		}
	}

	a.post-link:hover{
		text-decoration: none;
	}
}

//Blog

.blog{

	.tumblr_posts{
		list-style: none;
		padding: 0;
		margin: 20px auto;
		text-align: center;

		img.tumblr_photo{
			max-width: 340px;
			margin: 20px;
		}
	}
}

.tmblr-iframe--unified-controls {
    display:none;
}


/***********************************************************
Wireframes
***********************************************************/

@media(max-width : 900px) {
    .content{
        width:90%;
    }
    .desktop{
        display:none;
    }
    .article-content{
        margin:80px 20px;
    }
    .project-tile{
        margin-bottom: 50px;
    }
}

@media(min-width : 900px) {
    .content.row{
        padding-left:40px;
        padding-right:40px;
    }

    .project-tile{
        margin-right: 20px;
    }
    .content{
        display:flex;
    }
    .article-content{
        width:760px;
        margin:auto;
        margin-top: 120px;
    }

    #lg-media-view{
        background-image: url('/assets/LOCALGROUND/presentation2.png');
        height: 600px;
    }
    #lg-maps-view{
        background-image: url('/assets/LOCALGROUND/presentation4.png');
        height: 530px;
    }

    #lg-map-view{
        background-image: url('/assets/LOCALGROUND/presentation3.png');
        height: 580px;
    }

    #lg-presentation-view{
        background-image: url('/assets/LOCALGROUND/presentation.png');
        height:500px;
    }

    #eah-search-wf{
        background-image: url('/assets/etalhealth/wireframe.png');
        height:560px;
    }

    #eah-profile-wf{
        background-image: url('/assets/etalhealth/wireframe2.png');
        height:600px; 
        padding-top: 60px;       
    }

    #eah-search-final{
        background-image: url('/assets/etalhealth/wireframe3.png');
        height:500px;
    }

    #eah-profile-final{
        background-image: url('/assets/etalhealth/wireframe4.png');
        height:500px;  
        padding-bottom: 40px; 
    }

    .design-feature{
      background-size: 860px auto;
      background-repeat:no-repeat;
      background-position: center;
      margin: 40px -100px;
			@include border-radius(4px);

      .broswer-screenshot{
      	box-shadow: 1px 3px 8px #C6C8CC;
				@include border-radius(5px);
      }
    }

@include media-breakpoint-up(xl) {
    .article p img.design-feature-lg{
      margin: 40px -210px;
      width: calc(100% + 420px);
			@include border-radius(4px);

      .broswer-screenshot{
      	box-shadow: 1px 3px 8px #C6C8CC;
      }
    }
}


    .design-feature-split.row{
    	margin: 40px 0 40px -100px;

    	img{
    		@include border-radius(4px);
    	}
    }

    .desktop{
        display:block;
    }
}

/***********************************************************
Footer
***********************************************************/

footer{
	text-align:center;
	padding: 40px 40px 100px;
	background: #f6f6f6;
	color: #7b7b7b;

	a{
		margin:10px;
	}
}

.footer-icons{
	padding-bottom: 20px;
}




/***********************************************************
About
***********************************************************/


.vcard{

	svg{
		font-size: 2rem;
		margin-right: 10px;
	}

	td{
		padding-top: 10px;
	}

	td:first-child{
		text-align:center;
	}
}





/***********************************************************
Amaze
***********************************************************/

.faces-grad{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc9dd7+0,dccae3+100 */
    background: #4354bb; /* Old browsers */
    background: -moz-linear-gradient(left, #4354bb 0%, #6798b6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4354bb 0%,#6798b6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4354bb 0%,#6798b6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4354bb', endColorstr='#6798b6',GradientType=1 ); /* IE6-9*/
}

.amaze-grad{

	margin-bottom: 40px;

	div{
		height: 50px;
		background-size: 50px;
		background-repeat: no-repeat;

		&.ice{
			background-image: url("../assets/amaze/ice.png");
		}
		&.stone{
			background-image: url("../assets/amaze/stone.png");
		}
		&.bush{
			background-image: url("../assets/amaze/bush.png");
		}
	}
}


li.tumblr-post{
	vertical-align: middle;
	border-style: none;
	margin: 40px auto 40px auto;
	max-width: 540px;
	text-align: center;
	img{
		width: 100%;
	}
}



/***********************************************************
Add PE Button
***********************************************************/


.mms-add-pe-button {


	.dropdown-toggle::after {
		display: none;
	}

  /*** Add PE dropdown ***/

  /*Border radius and color to match dropdown*/
  a.dropdown-toggle{
    @include border-radius(4px 0 0 4px);
    border: 2px solid transparent;
    color: #d3d3d3;
    vertical-align: unset;
    float:left;
  }

  //Padding, font size, and line height match for the toggle and dropdown
  a.dropdown-toggle,
  .dropdown-menu a{
    padding: 8px;
    font-size: 14px;
  }

  /*Special line-height so icons align*/
  .dropdown-menu a::before,
  a.dropdown-toggle .fa{
    line-height: 1.5;
  }

  /*Special horizontal dropdown menu */
  .dropdown-menu {
    position: relative;
    padding: 0;
    margin: 0;
    @include border-radius(0 4px 4px 0);
    border-color: darken($white, 12%);
    @include box-shadow( 6px 6px 12px rgba(0,0,0,.175));
    margin: 0;
    float: none;
    @include box-shadow( 6px 6px 12px rgba(0,0,0,.175));
    border: 2px solid darken(white, 12%);

    /*line to indicate where the presentation element will be added
    &::after{
      background-image: url(../assets/location-feedback-inline.svg);
      content: ' ';
      background-size: 70px 4px;
      height: 4px;
      width: 70px;
      background-repeat: no-repeat;
      position: absolute;
      right: -70px;
      top: 13px;
    }*/

    /*Horizontal menu that should be more consistent across browsers*/
    li{
      display: inline-block;
      a{
        padding-left: 14px;
        padding-right: 14px;
        display: inline-block;
        line-height: 150%;
      }
    }
    li:last-child{
    	border-left: 2px solid darken(white, 12%);    	
    }
  }

  /*When hovering over the whole menu, set opacity to block*/
  .open > .dropdown-menu,
  .dropdown-toggle:hover + .dropdown-menu,
  span:hover .dropdown-menu{
    display: inline-block;
  }

  /*When hovering over button or opening toggle, darken text and background to show activated*/
  span:hover a.dropdown-toggle,
  .open > a.dropdown-toggle,
  .open > a.dropdown-toggle:hover{
    background-color: darken(white, 10%);
    border-color: darken(white, 12%);
    color: darken(#d3d3d3, 42%);
    position: relative;
    z-index: 100;	
  }
}

.add-pe-button-container{
	position: relative;
	hr {
	  opacity: 0;
	  border: none;
	  border-top: 3px dotted #4A90E2;
	  height: 0px;
	  margin: 0px;
	  position: absolute;
	  top: 50%;
	  width: 100%;
	  @include transition(.2s);
	}
}

.add-pe-button-container:hover hr {
  opacity: 1; 
}

mms-view-section .add-pe-button-container hr {
  left: 31px;
  bottom: 18px;
  position: relative;
  width: calc(100% - 31px);
}

/*set pseudoclass and reset italic from <i>*/
.section-icon::before{
  content:"\00a7";
  font-style: normal;
  font-weight: bold;
  font-family: "Rubik";
}

