---
---

@import url('https://fonts.googleapis.com/css?family=Rubik:400');
@import url('https://fonts.googleapis.com/css?family=Open_Sans:400,300,600,700,300italic,400italic,600italic,700italic');


@import "../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";
@import "print";

/***********************************************************
Typography
***********************************************************/
h1, h2, h3, h4, h5, h6{
	color: #404040;
	font-family: 'Rubik',sans-serif; 
}

body{
	color: #212121;
	font-family: 'Rubik',sans-serif;
	color: #212121;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

p, td, .caption, li {
  font-size: 18px;
  color: #404040;
  line-height: 150%;
  font-weight: 400;
}

h1{
	font-size: 3rem;
}

.quote{
	font-style: italic;
}

.tags{
	span{
		background-color: #f6f6f6;
		margin-right: 3px;
		color: #6a6a6a;
		border-radius: 3px;
		margin-top: 8px;
		display: inline-block;
		padding: 0 8px;
		font-weight: 600;
		font-size: 14px;
	}
}

.skill{
	font-weight: 600;
}

.bullet-lead{
	font-weight: 600;
	text-style: italic;
}


//Logo
.navbar-brand img{
	height: 30px;
}

.navbar-nav{
	flex-direction: row;
	li.nav-item{
		padding-right: 10px;
	}
}

/***********************************************************
Layout
***********************************************************/
.container-lg {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
}

.container-md {
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
}

.col-sm-4,
.col-sm-8{
	img{
		width: 100%;
	}
}


//Nav

.navbar{
	background-color: rgba(255,255,255,0.9);
	border-bottom: 1px solid rgba(0,0,0,0.07);
	padding-left: 40px;
	padding-right: 40px;
}


//Article
.article{
	

	header{
		margin: 40px 0;
		h1{
			margin: 0;
		}
		span{
			font-size: 24px;
			color: #838383;
			font-style: italic;
		}
	}

	p img{
		width: 100%;
	}

	.next img,
	.prev img{
		height: 100px;
		width: auto;
		@include border-radius(4px);
	}


	.PageNavigation{

		margin-top: 100px;

		.next{
			float: left;
		}

		.prev{
			float: right;
			text-align: right;
		}

		a h3{
			text-decoration: none;
		}
	}

	h2{
		margin: 50px 0 10px;
		font-size: 1.6em;
	}

	.article-title-img {
	    height: 280px;
	}

    img{
    	width: 100%;
	}

	.personas{
		td{
			padding-right: 30px;
		}
	}
}



//Home
.home {
	margin-top: 40px;

	h1{
		font-size: 1.8em;
		line-height: 1.5em;
	}

	.post{
		margin-bottom: 40px;
	}

	.post-link{ 
		img {
			margin-bottom: 10px;

			@include border-radius(4px);
			@include transition(.2s);

			&:hover{
				opacity: .7;
			}
		}
		h3{
			margin-bottom: 0;
		}
	}

	a.post-link:hover{
		text-decoration: none;
	}
}

//Blog

.blog{

	&.container-md{
		margin-top: 50px;
	}

	.tumblr_posts{
		list-style: none;
		padding: 0;
		margin: 20px auto;
		text-align: center;

		img.tumblr_photo{
			max-width: 340px;
			margin: 20px;
		}
	}
}

.tmblr-iframe--unified-controls {
    display:none;
}


//Wireframes

@media(max-width : 900px) {
    .content{
        width:90%;
    }
    .desktop{
        display:none;
    }
    .article-content{
        margin:80px 20px;
    }
    .project-tile{
        margin-bottom: 50px;
    }
}

@media(min-width : 900px) {
    .content.row{
        padding-left:40px;
        padding-right:40px;
    }

    .project-tile{
        margin-right: 20px;
    }
    .content{
        display:flex;
    }
    .article-content{
        width:760px;
        margin:auto;
        margin-top: 120px;
    }

    #lg-media-view{
        background-image: url('/assets/LOCALGROUND/presentation2.png');
        height: 600px;
    }
    #lg-maps-view{
        background-image: url('/assets/LOCALGROUND/presentation4.png');
        height: 530px;
    }

    #lg-map-view{
        background-image: url('/assets/LOCALGROUND/presentation3.png');
        height: 580px;
    }

    #lg-presentation-view{
        background-image: url('/assets/LOCALGROUND/presentation.png');
        height:500px;
    }

    #eah-search-wf{
        background-image: url('/assets/etalhealth/wireframe.png');
        height:560px;
    }

    #eah-profile-wf{
        background-image: url('/assets/etalhealth/wireframe2.png');
        height:600px; 
        padding-top: 60px;       
    }

    #eah-search-final{
        background-image: url('/assets/etalhealth/wireframe3.png');
        height:500px;
    }

    #eah-profile-final{
        background-image: url('/assets/etalhealth/wireframe4.png');
        height:500px;  
        padding-bottom: 40px; 
    }

    .design-feature{
        background-size: 860px auto;
        background-color: rgba(0,0,0,0.035);
        background-repeat:no-repeat;
        background-position: center;
        margin: 40px -40px;

        .broswer-screenshot{
        	box-shadow: 1px 3px 8px #C6C8CC;
        }
    }

    .design-feature.localground{
        background-color:rgba(0,0,60,0.035);
    }
    .desktop{
        display:block;
    }
}

// footer

footer{
	text-align:center;
	margin: 40px 40px 100px;

	a{
		margin:10px;
	}
}


//about

.link-icons{
		a{
			margin: 10px 10px 20px;
			display: inline-block;
		}
}



// amaze
.faces-grad{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bc9dd7+0,dccae3+100 */
    background: #4354bb; /* Old browsers */
    background: -moz-linear-gradient(left, #4354bb 0%, #6798b6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4354bb 0%,#6798b6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4354bb 0%,#6798b6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4354bb', endColorstr='#6798b6',GradientType=1 ); /* IE6-9*/
}

.amaze-grad{

	margin-bottom: 40px;

	div{
		height: 50px;
		background-size: 50px;
		background-repeat: no-repeat;

		&.ice{
			background-image: url("../assets/amaze/ice.png");
		}
		&.stone{
			background-image: url("../assets/amaze/stone.png");
		}
		&.bush{
			background-image: url("../assets/amaze/bush.png");
		}
	}
}




li.tumblr-post{
	vertical-align: middle;
	border-style: none;
	margin: 40px auto 40px auto;
	max-width: 400px;
	text-align: center;
	img{
		width: 100%;
	}
}


