{% include header.html %}
{% include navbar.html %}


<div class="container">
	<div class="row">
		<div class="col-lg-4 pt-6">
			<h1 class="pb-2 color-purple">Hi! I'm Ellen <br> and I'm a user experience designer.</h1>
			<p class="color-purple">I currently work at NASA Jet Propulsion Lab where I research and design for engineers and scientists exploring our solar system.</p>
			<p class="color-purple mb-4">Please reach out on <a href="https://www.linkedin.com/in/ellen-van-wyk-2441b387/" target="_blank">Linkedin</a> or to <a href="mailto:ell.vanwyk@gmail.com">ell.vanwyk at gmail.com</a> for case studies on my projects.</p>
			<a href="https://www.instagram.com/ellvanwyk/" target="_blank">
				<i class="h2 mr-4 bi bi-instagram"></i>
			</a>
			<a href="https://www.linkedin.com/in/ellen-van-wyk-2441b387/" target="_blank">
				<i class="h2 mr-4 bi bi-linkedin"></i>
			</a>
			<a href="/vanwykResume.pdf" target="_blank">
				<i class="h2 mr-4 bi bi-file-earmark-text-fill"></i>
			</a>
		</div>
		<!-- <div class="col-md-1"></div> -->
		<div class="col-lg-8">
			<div class="row position-relative mt-5">
				<div class=" col-sm-2"></div>
				<div class=" col-sm-4">
					<div class="centered-element-sm empty-left">
						<span class="access-contact color-purple"><i class="bi bi-lock-fill pr-1"></i>Contact me for Access</span><br>
						<b class="color-purple mb-0">Sketchnotes</b>
						<p class="color-purple">Visual note taking</p>
					</div>
				</div>
				<img class=" col-sm-5" alt="An illustration of an ipad with drawings on it" src="/assets/images/ipadSplash.png">
			</div>
			<div class="row position-relative mt--7">
				<img class=" col-sm-8" alt="An illustration of a laptop showing a user interface with controls and a trajectory around a planet" src="/assets/images/opsForAutonomySplash.png">
				<div class=" col-sm-4" style="left: -40px;">
					<div class="centered-element-sm">
						<span class="access-contact color-purple"><i class="bi bi-lock-fill pr-1"></i>Contact me for Access</span><br>
						<b class="color-purple">Operations for Autonomy</b>
						<p class="color-purple">Imagining the future of autonomous operations</p>
					</div>
				</div>
			</div>
			<div class="row position-relative mt--6">
				<div class=" col-sm-6">
					<div class="centered-element-sm text-right">
						<span class="access-contact color-purple"><i class="bi bi-lock-fill pr-1"></i>Contact me for Access</span><br>
						<b class="color-purple">Europa Clipper Analysis</b>
						<p class="color-purple">Making a new operations paradigm work for users</p>
					</div>
				</div>
				<img class=" col-sm-6" src="/assets/images/infoArchSplash.png" alt="An illustration of sitemap scheme.">
			</div>


<!-- 			<ul class="pt-5 mt-5">
			  	{% for post in site.posts %}
				    <li>
				    	<a href="{{ post.url }}">{{ post.title }}</a>
				    </li>
			  	{% endfor %}
			</ul> -->
		</div>
		<div class="col-sm-3">

		</div>

	</div>
</div>
