
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Montserrat:wght@400;600;700&display=swap');

body,
p{
	font-size: 1.125rem;
	line-height: 2rem;
	font-family: Inter
}

.headline {
    font-size: 4rem;
}

.color-white{
	color: white !important;
}

.color-white-70{
	color: rgba(255,255,255,0.7) !important;
}

.bg-purple{
	background: #4b45be;
}

.bg-purple-lt{
	/*background: #b3b3c869;*/
}
/*
.border-purple-blend{
	border-bottom: 21px solid;
    border-bottom-color: currentcolor;
	border-color: #b3b3c8;
}*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
	font-family: "Montserrat";
	font-weight: 800;
	color:#4b45be;
}

a,
a:hover,
a:visited{
	color: #4b45be;
}

.pt-6{
	padding-top: 7rem;
}