{% assign current = page.url | downcase | split: '/' %}

<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="/"><img src = "/assets/logo.svg" id = "logotype" ></a>

    <ul class="navbar-nav mr-auto navbar-right">
      <li {% if current[1] == 'casestudies' %}class='nav-item active'{% endif %} class="nav-item">
        <a class="nav-link" href="/">Work</a>
      </li>
      <li {% if current[1] == 'blog' %}class='nav-item active'{% endif %} class="nav-item">
        <a class="nav-link" href="/blog/">Blog</a>
      </li>
      <li {% if current[1] == 'about' %}class='nav-item active'{% endif %} class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
    </ul>
</nav>