{% include header.html %}
{% include navbar.html %}




<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1 pt-6"></div>
		<div class="col-sm-4 pt-6">
			<h1 class="pb-2">Hi I'm Ellen <br> and I'm a user experience designer</h1>
			<p class="color-purple">I currently work at NASA JPL where I research and design for engineers and scientists</p>
			<p class="color-purple">Please reach out for case studies on my projects</p>
			<i class="color-purple h2 mr-4 bi bi-instagram"></i><i class="color-purple h2 mr-4 bi bi-linkedin"></i>

		</div>
		<div class="col-sm-3">
			<img src="/assets/images/opsForAutonomySplash.png" style="width:410px;display:block;margin-top: 110px;position:relative;z-index: 4">
			<div>
				<b class="color-purple">Operations for Autonomy</b>
				<p class="color-purple">Imagining the future of autonomous operations</p>
			</div>
<!-- 			<ul class="pt-5 mt-5">
			  	{% for post in site.posts %}
				    <li>
				    	<a href="{{ post.url }}">{{ post.title }}</a>
				    </li>
			  	{% endfor %}
			</ul> -->
		</div>
		<div class="col-sm-3">
			<div class="position-relative">
				<img src="/assets/images/ipadSplash.png" style="width:260px;display:block;margin-top: 70px;position:relative;z-index: 5">
				<div style="position: absolute;top: 0;z-index: 100;text-align: right;left: -100px;">
					<b class="color-purple">Sketchnotes</b>
					<p class="color-purple">Visual note taking</p>
				</div>
			</div>
			<div class="position-relative">
				<img src="/assets/images/infoArchSplash.png" style="width:310px;display:block;margin-top: 170px;position:relative;z-index: 0">
				<div>
					<b class="color-purple">Europa Clipper Analysis</b>
					<p class="color-purple">Making a new operations paradigm work for users</p>
				</div>
			</div>
		</div>

	</div>
	<div class="row">
		<div>

		</div>
	</div>
</div>

