<!DOCTYPE html>
<html>

 {% include head.html %}

	<body>

	{% include navbar.html %}

		<div class="page-content">
			<div class="wrapper container-lg">
				<div class="row">
					<div class="col-sm-4">
						<img src="/assets/itsme.jpg">
						<div class = "vcard">
							<h4>
							Get in touch
							</h4>
								<a href="mailto:ejvw@berkeley.edu" target="_top" title="Email"><i class="fas fa-envelope"></i></a> ejvw(at)berkeley(dot)edu

							<a class="link-icon" href = "https://github.com/ellenvanwyk">
								<i class="fab fa-github"></i>
							</a>
							<a class="link-icon" href = "https://www.linkedin.com/in/ellen-van-wyk-2441b387">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</div>
						<a class="btn btn-primary" href = "/vanwykResume.pdf">
							Resume
						</a>

					</div>
					<div class="col-sm-8">
						{{ content }}				
						<h4>Skills</h4>
						<ul>
						{% for skill in page.skills %}
							<li>
								{{ skill }}
							</li>
		                {% endfor %}
		            	</ul>
					</div>
				</div>
			</div>
		</div>
		{% include footer.html %}
	</body>
	{% include analytics.html %}
</html>