<!DOCTYPE html>
<html>

 {% include head.html %}

  <body>

    {% include navbar.html %}

    <div class="page-content">
      <div class="wrapper container-md blog">

      	<h4>A collection of posts from my <a href="https://interprettounderstand.tumblr.com/">blog</a>, which includes notes and sketches from museums, books, and the natural world.</h4>
        <h4>This includes my sketchnotes, or visual note taking. I've been practicing sketchnoting as a way of staying focused and having better discussions about lectures.</h4>

      	
        <ul class="row list-unstyled container-lg">
          {% for post in site.categories.tumblr %}
          <li class="tumblr-post">
            <!--{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}-->
            {{ post.content }}

            <div class="tags">
              {% for tag in post.tags %}
                <span>
                  {{ tag }}
                </span>
              {% endfor %}
            </div>
            <!--{%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}-->

          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
    {% include footer.html %}
  </body>
  {% include analytics.html %}
</html>
