<!DOCTYPE html>
<html>

 {% include head.html %}

  <body>

    {% include navbar.html %}

    <div class="page-content">


      <div class="wrapper container-md article">

      	<header>
			<h1>
				{{ page.title }}  
			</h1>
			<span>
				{{ page.tagline }} 
			</span>  
			<div>
				<div style="display:inline-block;width: 40px;height: 8px;background: #5ea694;border-radius: 13px;margin: 12px 0 32px;"></div>
				<div style="display:inline-block;width: 8px;height: 8px;background: #5ea694;border-radius: 13px;margin: 12px 0 32px;"></div>
			</div>


	      	<div class="row">
				<div class="col-sm-8">
					<p>
						{{ page.overview }}
					</p>
				</div>
				<div class="col-sm-4">	

	                <h4>Role</h4>
					<ul class="role-list">
					{% for tag in page.tags %}
						<li>
							{{ tag }}
						</li>
	                {% endfor %}
	            	</ul>

	 				<!--With {{ page.where }}-->	 				        

					{% if page.outsideurl %}
						<h4>
							<a href="{{ page.outsideurl }}">
								<i class="fas fa-arrow-circle-right"></i>
								{% if page.outsidetitle %}
									{{ page.outsidetitle }}
								{% else %}
									Visit Project
								{% endif %}
							</a>
						</h4>
	                {% endif %}	

				</div>
			</div>    	
      	</header>

      	<div class="article-body">
			{{ content }}
		</div>

		<hr class="article-fin">

		<div class="PageNavigation clearfix">
			{% if page.next.type == "casestudy" %}
				{% if page.next.url %}
					<a class="next" href="{{page.next.url}}">
						<div><i class="fas fa-arrow-circle-left"></i></div>
						<img src="{{page.next.image}}">
						<h3>{{page.next.title}}</h3>
					</a>
				{% endif %}
			{% endif %}
			{% if page.previous.type == "casestudy" %}
				{% if page.previous.url %}
				    <a class="prev" href="{{page.previous.url}}">
						<div><i class="fas fa-arrow-circle-right"></i></div>
				    	<img src="{{page.previous.image}}">
				    	<h3>{{page.previous.title}}</h3>
				   	</a>
			 	{% endif %}
			 {% endif %}
		</div>
      </div>
    </div>
    {% include footer.html %}
  </body>
	{% include analytics.html %}
</html>
