<!DOCTYPE html>
<html>

 {% include head.html %}

  <body>

    {% include navbar.html %}

    <div class="page-content">


      <div class="wrapper container-md article">

      	<header>
			<h1>
				{{ page.title }}  
			</h1>
			<span>
				{{ page.tagline }} 
			</span>  
			<div style="width: 30px;height: 8px;background: #5ea694;border-radius: 13px;margin: 12px 0;"></div>

		</header>

      	<div class="row">
			<div class="col-sm-8">
				<p>
					{{ page.overview }}
				</p>
			</div>
			<div class="col-sm-4">
				<ul>
				{% for tag in page.tags %}
					<li>
						{{ tag }}
					</li>
                {% endfor %}
            	</ul>



 				{{ page.outside }}
 				        	
			</div>
		</div>    	
      	

		{{ content }}

		<hr class="article-fin">

		<div class="PageNavigation clearfix">
		  {% if page.next.url %}
		    <a class="next" href="{{page.next.url}}">
		    	<img src="{{page.next.image}}">
		    	<h3> &laquo;{{page.next.title}}</h3>
		    </a>
		  {% endif %}
		  {% if page.previous.url %}
		    <a class="prev" href="{{page.previous.url}}">
		    	<img src="{{page.previous.image}}">
		    	<h3>{{page.previous.title}}&raquo; </h3>
		   	</a>
		  {% endif %}
		</div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
