body{
	font-family: 'Roboto Mono', monospace;
	color: white;
	min-height: 100vh;
	margin: 0;
	color: #51486f;
}


body.sunrise{
	background-image: linear-gradient(#E4EEFF, #FFEAEA);	
}

body.daytime{
	background-image: linear-gradient(#E4EEFF, #FFEAEA);	
}

body.sunset{
	background-image: linear-gradient(#E4EEFF, #FFEAEA);
}

body.nighttime{
	background-image: linear-gradient(#44597d, #4d599c);	
	color: white;
}
body.nighttime
	a:hover,
	a:visited,
	a{color: white;}



#myCanvas{
	position: fixed;
	left: 0;
	right: 0;
    width:  100%;
    height: 100%;
    z-index:1;
}

a:hover,
a:visited,
a{color: #51486f;}

h1{
	font-weight: 600;
}

.container{
	max-width: 600px;
	margin: 0 auto;
	padding: 50px 16px;
	z-index:10;
	position: relative;
}

.la-left{
	background-image: url("../assets/leftmid.png");
height: 323px;
width: 473px;

position: fixed;

bottom: 0;

left: 0;

background-size: 100%;
background-position: -153px;
background-repeat: no-repeat;

}


.la-right{
    background-image: url("../assets/la-right.png");
    height: 253px;
    width: 280px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100%;

}

.bkgrnd{
	background: #28203D;
	opacity: .5;
	position: fixed;
height: 100px;
bottom: 0;
width: 100%;
height: 16px;
}