@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;00&display=swap');

body{
	font-family: 'Inter', sans-serif;
/*	color: white;
	min-height: 100vh;
	margin: 0;
	color: #cfcfff;
	background: #06062d;*/
	color: #262dc3;
	background-color: #d7daff;
}


/*That's why we go to work to kick mroe ass together than we could by ourselves*/

/*canvas {
	top: 0;
    position: fixed;
}
*/

a:visited,
a{
	color: #262dc3;
	text-decoration: none}

a:hover{color: #050b7b;}


h1{
	font-weight: 600;
}

p{
	line-height: 1.75rem;
    /*letter-spacing: .015em;*/
    font-weight: 400;
    font-size: 1.125rem;
}

.contact-icons a{
	margin-right: .25rem;
}

.container{
	max-width: 600px;
	margin: 0 auto;
	padding: 10px 16px;
	z-index:10;
	position: relative;
}
